@using Microsoft.AspNetCore.Hosting;
@using SH.Data.ModelVM;
@using SH.Service.Public
@using AutoMapper
@using SH.Data.Validator

@inject IMapper mapper
@inject IWebHostEnvironment webHostEnvironment

<style>
    .mud-input {
        font-size: var(--mud-typography-body1-size) !important;
    }
</style>

<MudDialog Class="w-50">
    <DialogContent>
        <MudForm Model="@ProgramUserVm" @ref="@form" Validation="@(Validator.ValidateValue)" ValidationDelay="0">
            @* <DataAnnotationsValidator /> *@

            <MudGrid Spacing="2">
                <MudItem xs="12">
                    <MudStack>
                        <MudStack Row="true">
                            <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" FilesChanged="UploadFiles2" MaximumFileCount="100">
                                <ButtonTemplate Context="fileContext">
                                    <MudElement HtmlTag="label" for="@fileContext">
                                        <MudImage ObjectFit="ObjectFit.ScaleDown" Src="@ProgramUserVm.ProfilePicture" Width="150" Height="150" Alt="Profile Picture"
                                                  Elevation="25" Class="rounded-lg" Style="cursor:pointer" />
                                    </MudElement>
                                </ButtonTemplate>
                            </MudFileUpload>
                        </MudStack>

                        <h4 style="font-weight:bold">مشخصات کاربر</h4>
                    </MudStack>
                </MudItem>
                <MudItem xs="4">
                    <MudTextField @ref=NameTB Label="نام" Variant="Variant.Outlined" Margin="Margin.Dense" 
                    @bind-Value="ProgramUserVm.FirstName" For="@(() => ProgramUserVm.FirstName)" />
                </MudItem>
                <MudItem xs="4" style="min-width:130px">
                    <MudTextField Label="نام خانوادگی" Variant="Variant.Outlined" Margin="Margin.Dense"
                    @bind-Value="ProgramUserVm.LastName" For="@(() => ProgramUserVm.LastName)" />
                </MudItem>
                <MudItem xs="4" Style="min-width:130px">
                    <MudTextField Label="سمت" Variant="Variant.Outlined" Margin="Margin.Dense"
                    @bind-Value="ProgramUserVm.Position" For="@(() => ProgramUserVm.Position)" />
                </MudItem>
                <MudItem xs="4" style="min-width:130px">
                    <MudTextField Label="شماره تماس" Variant="Variant.Outlined" Margin="Margin.Dense"
                    @bind-Value="ProgramUserVm.Phone" For="@(() => ProgramUserVm.Phone)" />
                </MudItem>
                <MudItem xs="4" Style="min-width:130px">
                    <MudTextField Label="موبایل" Variant="Variant.Outlined" Margin="Margin.Dense" 
                    @bind-Value="ProgramUserVm.Mobile" For="@(() => ProgramUserVm.Mobile)" />
                </MudItem>
                <MudItem xs="6" style="min-width:130px">
                    <MudTextField Label="ایمیل"
                    @bind-Value="ProgramUserVm.Email" For="@(() => ProgramUserVm.Email)" />
                </MudItem>
                <MudItem xs="6" Style="min-width:130px">
                    <MudTextField Label="نام کاربری دامین" HelperText=""
                    @bind-Value="ProgramUserVm.DcUsername" For="@(() => ProgramUserVm.DcUsername)" />
                </MudItem>

                <MudItem xs="6" Style="min-width:130px">
                    <MudCheckBox Label="کاربر غیر فعال" HelperText=""
                    @bind-Checked="ProgramUserVm.IsEnable" For="@(() => ProgramUserVm.IsEnable)"></MudCheckBox>

                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="ادرس" HelperText=""
                    @bind-Value="ProgramUserVm.Address" For="@(() => ProgramUserVm.Address)" />
                </MudItem>

            </MudGrid>
        </MudForm>
        <div class="pt-6 pb-4">
            <MudButton Color="Color.Primary" OnClick="@(async () => await Submit())">قبول</MudButton>
            <MudButton OnClick="Cancel">رد</MudButton>
        </div>
    </DialogContent>

</MudDialog>

@code {
    [Parameter]
    public ProgramUserVm? ProgramUserVm { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    bool _success;
    string fileContext;
    string newProfilePicture;
    string oldProfilePicture;
    ProgramUserValidator Validator = new ProgramUserValidator();
    MudForm form;
    MudTextField<string> NameTB;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (ProgramUserVm.ProfilePicture == "")
        {
            ProgramUserVm.ProfilePicture = "_content\\SH\\Pictures\\empty-profile-image.jpg";
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await NameTB.FocusAsync();
        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnValidSubmit(EditContext context)
    {
        _success = true;
        StateHasChanged();
    }

    private async Task UploadFiles2(IBrowserFile file)
    {
        try
        {
            if (file != null)
            {
                var filename = Guid.NewGuid().ToString() + Path.GetExtension(file.Name);
                var newfile = await file.RequestImageFileAsync(Path.GetExtension(file.Name), 150, 150);
                var PPath = "C:\\Users\\mehiz\\source\\repos\\mehdizadpanah\\COMCO-Managment\\SH\\wwwroot";
                newProfilePicture = Path.Combine(PPath, "TempPicture", filename);

                if (ProgramUserVm.ProfilePicture != "_content\\SH\\Pictures\\empty-profile-image.jpg")
                {
                    oldProfilePicture = Path.Combine(PPath, "TempPicture", Path.GetFileName(ProgramUserVm.ProfilePicture));

                }
                if (!Directory.Exists(Path.GetDirectoryName(newProfilePicture)))
                {
                    Directory.CreateDirectory(Path.GetDirectoryName(newProfilePicture));
                }
                using (var stream = new FileStream(newProfilePicture, FileMode.Create))
                {
                    await newfile.OpenReadStream().CopyToAsync(stream);
                    stream.Close();
                }
                ProgramUserVm.ProfilePicture = "_content/SH/TempPicture/" + Path.GetFileName(newProfilePicture);
            }
        }
        catch (Exception e)
        {

            throw new Exception(e.Message);
        }

        // files.Add(file);

        //TODO upload the files to the server
    }

    async Task Submit()
    {
        await form.Validate();
        if (!form.IsValid) return;
        if (!string.IsNullOrEmpty(oldProfilePicture))
        {
            if (File.Exists(oldProfilePicture))
            {
                File.Delete(oldProfilePicture);
            }
        }
        MudDialog.Close(DialogResult.Ok(ProgramUserVm));
    }

    void Cancel()
    {
        if (!string.IsNullOrEmpty(newProfilePicture))
        {
            if (File.Exists(newProfilePicture))
            {
                File.Delete(newProfilePicture);
            }

        }
        ProgramUserVm.ProfilePicture = "_content/SH/TempPicture/" + Path.GetFileName(oldProfilePicture);

        MudDialog.Dispose();
        MudDialog.Cancel();

    }

}
}
