@using System.Reflection
@using SH.Shared
@inherits LayoutComponentBase


<MudRTLProvider RightToLeft="true">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout>

        <MudInputLabel>

            <MudAppBar Elevation="0" Dense="true">
                <AuthorizeView>

                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                    <ProfileMenu Open="@ProfileMenuOpen"></ProfileMenu>
                    <MudSpacer />
                    <div Class="px-14">
                        <MudIconButton OnClick="@ProfileClick" Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Target="_blank" />
                    </div>

                </AuthorizeView>


            </MudAppBar>

            <AuthorizeView>
                <NavMenu Version="@_version" OpenMenu="@_openManu"/>

            </AuthorizeView>

            <MudMainContent Class="pt-16 px-16">

                <MudContainer Class="mt-6 ">



                    @Body



                </MudContainer>
            </MudMainContent>
        </MudInputLabel>
    </MudLayout>
</MudRTLProvider>
@code
{
    public bool ProfileMenuOpen { get; set; }
    private NavMenu? NavMenu { get; set; }
    bool _openManu=true;
    // readonly Assembly _assembly = typeof(Program).Assembly;
    string? _version = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // _version = _assembly.GetName().Version?.ToString();
    }

    void ToggleDrawer()
    {
        _openManu = !_openManu;
        NavMenu?.ToggleDrawer();
    }

    void ProfileClick()
    {
        ProfileMenuOpen = !ProfileMenuOpen;
    }



}

