@using System.Reflection;



<MudDrawer Class="border" @bind-Open="@_open" ClipMode="_clipMode" Elevation="0" Variant="@DrawerVariant.Responsive" Anchor="Anchor.Right" PreserveOpenState="true" Color="Color.Surface">
    <MudNavMenu Style="font-family:dana" Color="Color.Surface">
        <MudText Class="mt-4 px-4" Typo="Typo.h6" Style="font-family:dana">دستیار کامکو</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary" Style="font-family:dana; font-size:small">ورژن: @Version </MudText>

        <MudDivider Class="d-inline-flex" />
        <div>

            <MudNavLink Icon="@Icons.Material.Filled.Home">صفحه اصلی</MudNavLink>
            <MudNavGroup Class="link-dark" Icon="@Icons.Material.Filled.People" Title="پرسنل">
                <MudNavGroup Class="link-dark" Icon="@Icons.Material.Filled.DateRange" Title="مرخصی">
                    <MudNavLink>مرخصی های من</MudNavLink>
                    <MudNavLink>لیست مرخصی ها</MudNavLink>
                    <MudNavLink>تایید مرخصی</MudNavLink>

                </MudNavGroup>
            </MudNavGroup>
            <MudNavGroup Class="link-dark" Icon="@Icons.Material.Filled.Settings" Title="تنظیمات">

            </MudNavGroup>

        </div>>
    </MudNavMenu>
</MudDrawer>






@code {

    [Parameter]
    public string Version { get; set; } = "";
    bool _open = true;
    bool _dense = true;
    DrawerClipMode _clipMode = DrawerClipMode.Always;

    public void ToggleDrawer()
    {
        _open = !_open;
        StateHasChanged();
    }
}
